@{
  Layout = "_Layout";
}

@using CatFish.Models

@model IEnumerable<ApplicationUser>

<h2>Users</h2>
@if (Model.Any())
{
  @foreach (var user in Model)
  {
    <p>@user.FirstName</p>
  }
}
else
{
  <p>No Users Yet.</p>
}