@{
  Layout = "_Layout";
}

@model CatFish.Models.ApplicationUser


@if (User.Identity.IsAuthenticated)
{
  <div class="row">
  <div class="col-md-4">
    <h1 class="text-center">CatFish</h1>
    <div class="card text-center">
      <div class="card-body h-100">
        <h4 class="card-title"><b>Welcome to CatFish</b></h4>
        <p>It is good to see you here, @Model.FirstName! </p>
        <a href='@Url.Action("Browse", "Matches")'>Start swiping!</a>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <img src="~/img/dog.png" class="img-fluid mx-auto d-block ">
  </div>
</div>

}
else
{
  <div class="row">
  <div class="col-md-4">
    <h1 class="text-center">CatFish</h1>
    <div class="card text-center">
      <div class="card-body h-100">
        <h4 class="card-title"><b>Welcome to CatFish</b></h4>
        <p>Looking for a playdate? Register Here</p>
        <a href='@Url.Action("Index", "Account")'>Create an Account</a>
      </div>
    </div>
  </div>
  
  <div class="col-md-8">
    <img src="~/img/dog.png" class="img-fluid mx-auto d-block ">
  </div>
  </div>
}
