@{
  Layout = "_Layout";
}
  <div>
  <h1 style="font-size:160px;margin-top:60px;margin-left:40px;float:left;">CatFish</h1>

  <img src="~/img/dog.png" style="width:800px;height:900px;float:right;">
  </div>
  

  <div class="card" style="width:30%;float:left; margin-left:80px">
    <div class="container">
      <h4 class="my-3"><b>Welcome to CatFish</b></h4>
      <p>Looking for a playdate? Register Here</p>
      <a href='@Url.Action("Index", "Account")' style="margin-left:40px;">Create an Account</a>
    </div>
  </div>